@font-face {
    font-family: barlow;
    src: url(./font/Barlow-Regular.ttf);
}

@font-face {
    font-family: fraunces;
    src: url(./font/Fraunces_144pt_SuperSoft-Regular.ttf);
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

ul li{
    list-style: none;
}

img{
    max-width: 100%;
}

::selection{
    background-color: rgb(0, 0, 0);
}